<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Codeprep"
        android:supportsRtl="true"
        android:theme="@style/Theme.MajorProject"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateNewAccount"
                  android:exported="true"/>

        <activity android:name=".Forget_password"
                  android:exported="true"/>

        <activity android:name=".LandingPage"
                  android:exported="true"/>

        <activity android:name=".MobilityCompanies"
                  android:exported="true"/>

        <activity android:name=".EcommerceCompanyies"
                  android:exported="true"/>

        <activity android:name=".CRMCompanies"
                  android:exported="true"/>

        <activity android:name=".CloudCompanies"
                  android:exported="true"/>

        <activity android:name=".CollaborationCompanies"
                  android:exported="true"/>

        <activity android:name=".CommunicationCompanies"
                  android:exported="true"/>

        <activity android:name=".AdvertisementCompanies"
                  android:exported="true"/>

        <activity android:name=".PaymentCompanies"
                  android:exported="true"/>

        <activity android:name=".TradingCompanies"
                  android:exported="true"/>

        <activity android:name=".InvestmentCompanies"
                  android:exported="true"/>

        <activity android:name=".GamingCompanies"
                  android:exported="true"/>

        <activity android:name=".EntertainmentCompanies"
                  android:exported="true"/>

        <activity android:name=".SystemDesign"
                  android:exported="true"/>

        <activity android:name=".ProgrammingLanguages"
                  android:exported="true"/>

        <activity android:name=".DSA"
                  android:exported="true"/>

        <activity android:name=".OOPS"
                  android:exported="true"/>

        <activity android:name=".DBMS"
                  android:exported="true"/>

        <activity android:name=".OperatingSystem"
            android:exported="true"/>

        <activity android:name=".SoftwareEngineering"
            android:exported="true"/>

        <activity android:name=".ComputerNetworks"
            android:exported="true"/>
    </application>

</manifest>